In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import random
from sklearn.metrics import accuracy_score
from sklearn import metrics  
import math
from sklearn.metrics import r2_score
import sklearn.preprocessing as preprocessing
import matplotlib.pyplot as plt 
import seaborn as sns 

# Assign colum names to the dataset
names = ['ntp', 'pgc', 'dbp', 'tst', 'si','bmi','dpf','age','class']

# Read dataset to pandas dataframe
dataset = pd.read_csv("D:\CODING\AI_ML\ML_Task_Acc\MLAssignment.csv", names=names)

dataset.head()

   ntp  pgc  dbp  tst   si   bmi    dpf  age  class
0    6  148   72   35    0  33.6  0.627   50      1
1    1   85   66   29    0  26.6  0.351   31      0
2    8  183   64    0    0  23.3  0.672   32      1
3    1   89   66   23   94  28.1  0.167   21      0
4    0  137   40   35  168  43.1  2.288   33      1

In [2]:
feature_cols = ['ntp', 'pgc', 'dbp', 'tst', 'si','bmi','dpf','age']
X = dataset[feature_cols] 
Y = dataset['class']

In [3]:
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1) 
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5)  
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [5]:
Y_pred = classifier.predict(X_test)

In [6]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(Y_test, Y_pred))  
print(classification_report(Y_test, Y_pred))

[[82 17]
 [24 31]]
              precision    recall  f1-score   support

           0       0.77      0.83      0.80        99
           1       0.65      0.56      0.60        55

    accuracy                           0.73       154
   macro avg       0.71      0.70      0.70       154
weighted avg       0.73      0.73      0.73       154